<div class="education-section">
  <mat-card>
    <mat-card-header class="title-section">
      <mat-card-title>
        <div>Education</div>
      </mat-card-title>
      <div
        class="pointer"
        (click)="openEducationAddUpdateDialog(institutionTypes.SCHOOL, true)"
      >
        <mat-icon matTooltip="Add Education Info">add</mat-icon>
      </div>
    </mat-card-header>
    <mat-card-content>
      <div class="school-section"></div>
      <div class="college-section"></div>
      <div class="university-section"></div>
    </mat-card-content>
  </mat-card>
</div>
