<div class="profile-info">
  <!-- Bio -->
  <div class="bio">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Bio</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        @if (service.profileInfo.bio && !service.isEditable.bio) {
        <div class="bio-text">
          {{ service.profileInfo.bio }}
        </div>
        } @else { @if (service.isEditable.bio) {
        <div class="bio-form" [formGroup]="profileInfoForm">
          <textarea maxlength="100" formControlName="bio"></textarea>
          <div class="length-indicator">
            {{ profileInfoForm.value.bio?.length }}/100
          </div>
          <div class="actions">
            <button mat-flat-button color="accent" (click)="toggleBioEditor()">Cancel</button>
            <button mat-flat-button color="primary" [disabled]="!profileInfoForm.value.bio?.length">Save</button>
          </div>
        </div>
        } @else {
        <div class="add-bio" (click)="toggleBioEditor()">
          Add a bio (100 characters)
        </div>
        } }
      </mat-card-content>
    </mat-card>
  </div>

  <div class="basic-info"></div>

  <div class="education"></div>

  <div class="profession"></div>

  <div class="hobbies"></div>
</div>
