<mat-toolbar color="dark">
  <div [class.text-center]="centreTitle()">
    {{ headerText() }}
  </div>

  @if (!centreTitle()) {
  <div>
    <button
      routerLink="/home"
      mat-icon-button
      [color]="pageType() == pageTypes.HOME ? 'primary' : ''"
    >
      <mat-icon>rss_feed</mat-icon>
    </button>

    <button
      routerLink="/profiles"
      mat-icon-button
      [color]="pageType() == pageTypes.PROFILES ? 'primary' : ''"
    >
      <mat-icon>group</mat-icon>
    </button>

    <button
      routerLink="/chats"
      mat-icon-button
      [color]="pageType() == pageTypes.CHATS ? 'primary' : ''"
    >
      <mat-icon matBadge="1" aria-hidden="false">chat</mat-icon>
    </button>
  </div>

  <div>
    @if (profileService.profile) {
    <div class="name-with-pp">
      <div class="name" routerLink="/profile">
        {{ profileService.profile.firstName }}
        {{ profileService.profile.lastName }}
      </div>

      <div class="flex ml-10px" [matMenuTriggerFor]="accountMenu">
        @if (profileService.profile.photoURL) {
        <img
          [ngSrc]="profileService.profile.photoURL"
          [height]="35"
          [width]="35"
        />
        } @else {
        <app-image-placeholder
          [profile]="profileService.profile"
          [height]="35"
          [width]="35"
          [fontSize]="12"
        ></app-image-placeholder>
        }
      </div>
    </div>
    }
  </div>

  <mat-menu #accountMenu="matMenu" class="picture-update-menu">
    <button mat-menu-item routerLink="/profile">My Profile</button>
    <button mat-menu-item routerLink="/profile-settings">
      Profile Settings
    </button>
    <button mat-menu-item (click)="authService.signOut()">Sign Out</button>
  </mat-menu>
  }
</mat-toolbar>
