<div mat-dialog-title class="text-center">{{ headerText }}</div>

<mat-dialog-content class="p-20px">
  <div
    class="flex align-items-center justify-content-center flex-col h-100 gap-20px"
  >
    @if (uiID == 1) {
    <form class="w-100" [formGroup]="formService.form">
      <app-input [field]="field"></app-input>
    </form>
    } @else if (uiID == 2) {
    <form class="w-100" [formGroup]="formService.form">
      <app-select [field]="field"></app-select>
    </form>
    } @else if (uiID == 3) {
    <app-photo-upload-options
      [profile]="data.profile"
      [option]="pictureOptions.PROFILE_PHOTO"
    ></app-photo-upload-options>
    } @else if (uiID == 4) {
    <form class="w-100" [formGroup]="formService.form">
      <app-datepicker [field]="field"></app-datepicker>
    </form>
    }

    <div></div>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button [disabled]="!canSkip" (click)="skipSection()">Skip</button>

  @if (uiID != 3) {
  <button
    mat-button
    [disabled]="formService.form.invalid"
    (click)="saveProfile()"
  >
    Save
  </button>
  }
</mat-dialog-actions>
