<app-header headerText="My Profile"></app-header>

<div class="profile-section">
  @if (profileService.loadingProfile) {
  <div class="flex justify-content-center align-items-center gap-20px">
    <strong> Loading Profile ... </strong>
    <mat-spinner color="h-35px w-35px"></mat-spinner>
  </div>
  } @else {
  <div>
    <div>
      <strong> Profile Photo </strong>
    </div>

    @if (profileService.profile.photoURL) {
    <div
      class="profile-photo"
      [ngStyle]="{
        'background-image': 'url(' + profileService.profile.photoURL + ')'
      }"
      [class.disabled]="profileService.updatingProfileImage"
    >
      @if (profileService.updatingProfileImage) {
      <mat-spinner color="accent" class="h-25px w-25px"></mat-spinner>
      } @else {
      <div class="actions">
        <mat-icon matTooltip="View" (click)="viewProfilePhoto()"
          >visibility</mat-icon
        >

        <mat-icon matTooltip="Update" [matMenuTriggerFor]="pictureUpdateMenu"
          >edit</mat-icon
        >
        <mat-menu #pictureUpdateMenu="matMenu" class="picture-update-menu">
          <label mat-menu-item class="picture-input-label" for="picture-input"
            >Upload from a Computer</label
          >
          <input
            type="file"
            hidden="true"
            id="picture-input"
            (change)="
              profileService.onPictureChange(
                $event,
                profileService.profile,
                true
              )
            "
          />
          <button mat-menu-item (click)="openWebcamDialog()">
            Take a photo
          </button>
        </mat-menu>

        <mat-icon matTooltip="Remove" (click)="openConfirmDeletionDialog()"
          >delete</mat-icon
        >
      </div>
      }
    </div>
    } @else {
    <div>
      <div class="mb-10px">You haven't uploaded any profile photo yet.</div>
      <app-profile-picture-upload-options
        [profile]="profileService.profile"
      ></app-profile-picture-upload-options>
    </div>
    }
  </div>

  <div>
    <div>
      <strong> Username </strong>
    </div>
    <div>
      {{ profileService.profile.displayName }}
    </div>
  </div>

  <div>
    <div>
      <strong> Email Address </strong>
    </div>
    <div>
      {{ profileService.profile.email }} @if
      (profileService.profile.isEmailVerified) {
      <span> (Verified) </span>
      }
    </div>
    @if (!profileService.profile.isEmailVerified) {
    <div class="mt-5px">
      Your email is not verified yet.
      <button
        mat-flat-button
        color="primary"
        class="h-30px w-115px text-center"
        (click)="authService.sendEmailVerification()"
        [disabled]="authService.sendingEmail"
      >
        @if (authService.sendingEmail) {
        <mat-spinner class="ml-10px h-20px w-20px"></mat-spinner>
        } @else { Verify now }
      </button>
    </div>
    }
  </div>

  <div>
    <div>
      <strong> Gender </strong>
    </div>
    <div>
      {{ profileService.profile.genderId == 1 ? "Male" : "Female" }}
    </div>
  </div>

  <div>
    <div class="mb-8px">
      <strong> Birthday </strong>
    </div>

    @if (profileService.profile.dob && !profileService.isEditable.birthday) {
    <div class="flex align-items-center gap-10px">
      <span>
        {{ profileService.profile.dob | date : "MMMM d, y" }}
      </span>

      @if (!profileService.isEditable.birthday) {
      <mat-icon class="pointer" (click)="profileService.prepareBirthdayForm()"
        >edit</mat-icon
      >
      }
    </div>
    } @else { @if (!profileService.profile.dob) {
    <div>You haven't updated your birthday.</div>
    <div class="mt-10px mb-25px">
      <button
        mat-flat-button
        class="h-30px"
        color="primary"
        (click)="profileService.prepareBirthdayForm()"
      >
        Click
      </button>
      to update.
    </div>
    } @if (profileService.isEditable.birthday) {
    <div class="flex justify-content-center align-items-center mt-10px">
      <app-datepicker [field]="profileService.field"></app-datepicker>
    </div>
    } }
  </div>

  <div>
    <button
      class="w-125px mr-5px"
      mat-raised-button
      color="accent"
      (click)="saveProfile()"
      [disabled]="
        (!profileService.isEditable.address &&
          !profileService.isEditable.birthday &&
          !profileService.isEditable.phoneNumber) ||
        profileService.settingProfile
      "
    >
      @if (profileService.settingProfile) {
      <mat-spinner class="h-25px w-25px"></mat-spinner>
      } @else {
      <span>Save Profile</span>
      }
    </button>

    <button
      class="ml-5px"
      mat-raised-button
      color="accent"
      (click)="signOutUser()"
      [disabled]="profileService.settingProfile"
    >
      Sign Out
    </button>
  </div>
  }
</div>
