<h2 mat-dialog-title class="text-center" style="background-color: #eaeaea">
  Complete {{ headerTitle }}
</h2>
<mat-dialog-content>
  @defer (when !formService.isFormLoading) {
  <app-form
    [headerTitle]="headerTitle"
    [isLoading]="authService.isAuthLoading || authService.settingUserData"
    (submitForm)="onAuthFormSubmit($event)"
  ></app-form>
  } @if (formService.isFormLoading) {
  <div class="flex justify-content-center align-items-center gap-20px">
    <span> Loading form ... </span>
    <mat-spinner color="h-35px w-35px"></mat-spinner>
  </div>
  }
</mat-dialog-content>
