<app-header headerText="Welcome to Ng-Connect" [centreTitle]="true"></app-header>
<div class="container">
  <div class="manual-auth-section">
    <div class="auth-section">
      <div class="hint-text signin">Already an user?</div>

      <app-auth-button
        btnLabel="Sign In"
        btnIconPath="assets/icons/sign_in.png"
        (onPressed)="openAuthDialog(formTypes.SIGNIN)"
      ></app-auth-button>
    </div>

    <div class="auth-section">
      <div class="hint-text signup">Not registered?</div>

      <app-auth-button
        btnLabel="Sign Up"
        btnIconPath="assets/icons/sign_up.png"
        (onPressed)="openAuthDialog(formTypes.SIGNUP)"
      ></app-auth-button>
    </div>
  </div>

  <div class="connect-with">Or, Connect with</div>

  <div>
    <app-auth-button
      btnLabel="Google"
      btnIconPath="assets/icons/google_logo.svg"
      (onPressed)="connectWithAuthProvider(authProviders.GOOGLE)"
    ></app-auth-button>
  </div>

  <div>
    <app-auth-button
      btnLabel="Facebook"
      btnIconPath="assets/icons/facebook_logo.svg"
      (onPressed)="connectWithAuthProvider(authProviders.FACEBOOK)"
    ></app-auth-button>
  </div>

  <div>
    <app-auth-button
      btnLabel="Github"
      btnIconPath="assets/icons/github_logo.png"
      (onPressed)="connectWithAuthProvider(authProviders.GITHUB)"
    ></app-auth-button>
  </div>
</div>
