<mat-card class="feed-card">
  <mat-card-content class="content">
    <textarea
      rows="1"
      placeholder="What's happening?"
      (input)="adjustTextareaHeight($event)"
    ></textarea>

    <!-- Feeling -->
    @if (feed().feeling) {
    <div class="feeling-section">
      <div>
        <span class="label">Feeling - </span>
        <span class="value">{{ feed().feeling }}</span>
      </div>
      <mat-icon (click)="removeFeeling()">close</mat-icon>
    </div>
    }

    <!-- Check In -->
    @if (feed().checkIn) {
    <div class="feeling-section">
      <div>
        <span class="label">At - </span>
        <span class="value">{{ feed().checkIn }}</span>
      </div>
      <mat-icon (click)="removeCheckIn()">close</mat-icon>
    </div>
    }
  </mat-card-content>
  <mat-card-actions class="actions">
    <div class="post-options">
      <button mat-button (click)="openEmoticonDialog()">
        <mat-icon>mood</mat-icon> Feeling
      </button>
      <button mat-button (click)="selectPhotos()">
        <mat-icon>image</mat-icon> Photos
      </button>
      <input
        type="file"
        multiple="true"
        id="multiple-file-input"
        hidden="true"
        accept="image/*"
        (change)="profileService.onUploadFeedPhotos($event)"
      />
      <button
        mat-button
        (click)="isLocationInputOpened = !isLocationInputOpened"
      >
        <mat-icon>location_on</mat-icon> Check In
      </button>
    </div>
    <div class="privacy-form">
      <button class="value" mat-button [matMenuTriggerFor]="privacyMenu">
        <mat-icon>
          {{
            feed().privacyId == 1
              ? "public"
              : feed().privacyId == 2
              ? "group"
              : "lock"
          }}
        </mat-icon>
        {{ feed().privacyId | privacyType }}
      </button>
      <mat-menu class="options" #privacyMenu="matMenu">
        @for (option of privacyOptions; track option.id) {
        <button mat-menu-item (click)="feed().privacyId = option.id">
          <mat-icon class="icon"> {{ option.icon }} </mat-icon>
          <span [class.fw-600]="feed().privacyId === option.id">
            {{ option.label }}
          </span>
        </button>
        }
      </mat-menu>
    </div>
    <button mat-flat-button color="accent">Post</button>
  </mat-card-actions>
  @if (isLocationInputOpened) {
  <div class="fade-in">
    <mat-form-field class="fs-13px w-100" appearance="fill" floatLabel="always">
      <mat-label>Enter any location...</mat-label>
      <input
        matInput
        placeholder="Bir Uttam AK Khandakar Road, Mohakhali C/A, Dhaka 1212, Bangladesh"
        [(ngModel)]="enteredLocation"
        (keydown)="onKeyDown($event)"
      />
    </mat-form-field>
  </div>
  }
</mat-card>
