<h2 mat-dialog-title class="text-center">{{ headerTitle }}</h2>

<mat-dialog-content>
  <div class="flex justify-content-center">
    <mat-chip-listbox>
      @for (type of types; track type.id) {
      <mat-chip-option
        [selected]="type.id === selectedTypeId"
        (click)="selectType(type)"
      >
        {{ type.name }}
      </mat-chip-option>
      }
    </mat-chip-listbox>
  </div>

  <app-form
    [formType]="formTypes.ADD_UPDATE_EDUCATION"
    [headerTitle]="headerTitle"
    [btnLabel]="btnLabel"
    [isLoading]="profileService.savingEducationDetails"
    (submitForm)="onEducationFormSubmit($event)"
  ></app-form>
</mat-dialog-content>
